.body {
    background: aqua;
}

.crystalsDiv {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bolder;
    font-size: 20px;
    text-align: center;
    background: darkorange;
    width: 20%;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.instructions {
    border: 1px solid;
    width: 40%;
    height: 250px;
    margin-left: 10px;
    margin-top: 10px;
    background: tan;
    padding: 20px;
}

.h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.computerNumber {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    border: 1px solid;
    width: 15%;
    margin-left: 10px;
    margin-top: 10px;
    background: forestgreen;
}

.winsLosses {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 15%;
    line-height: 20px;
    background: aquamarine;
}

.crystalOne {
    border: 1px solid;
}

.crystalTwo {
    margin-left: 10px;
    border: 1px solid;
}

.crystalThree {
    margin-left: 10px;
    border: 1px solid;
}

.crystalFour {
    margin-left: 10px;
    border: 1px solid
}

.flex-container {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}

.totalScoreDiv {
    border: 1px solid black;
    padding: 5px;
    width: 15%;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    background: teal;
    color: white;
}

.resultsDiv {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    width: 16%;
    height: 80px;
    background: teal;
}


